@media screen and (max-width: 414px){
    /* @font-face {
        font-family:HanziPen TC;
        src: url(HuaKangTiFan-CuTi.otf);
        } */
       
    .wrapper{
        padding-top: 60px;
        width: auto;
        overflow: hidden;
    }

    .wrapper .topbtn{
        margin-left: 380px;
    }


    header{
       position: relative;
    }

    /* <--------------top-bar--------------> */

    
    .sidebar{ 
        width: 100%;
        height: 60px;
        padding: 0px; 
        box-shadow: none;
        background-color: rgba(209, 208, 208, 0.95);
        top: 0;
    } 

    .logo img{
        
        width: 50px;
        padding: 0px;
        float: left;
        margin: 10px;
        
    }

    .burger{
        float: right;
        margin-right: 30px;
        margin-top: 20px;
        display: block;

    }

    
    .sidebar-menu{
        width: 100%;
        position: absolute;
        top: 60px;
        left: 100%;
        transition: .5s;
    }

    
    .sidebar-menu li{
        
        background-color:rgba(209, 208, 208, 0.95) ;
        border-top:1px solid rgba(209, 208, 208, 0.8);
        width: 414px;
        height: 60px;
    }

    .sidebar-menu a{
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        /* line-height: 60px; */
       
    }

    #menu_control:checked ~ header .sidebar .sidebar-menu{
        left: 0;
        
    }

    .search{
        width: 100%;
        height: 270px;
        background-size:cover;
        padding-top: 60px;
    }

    .search h1{
        
        font-size: 50px;
        
    }
    /* <-------------自介及熱門景點-------------> */

    .main{
        width: 414px;
    }
    .main-text{
        width: 300px;
        margin: 0 auto;
         
    }

    .main-text h1{
        margin: 0 auto;
        width: 200px;
        font-size: 30px;
       margin-top: 50px;
       margin-bottom: 20px;
        
    }

    .main-text .p1{
        width: 300px;
        font-size: 20px;

    }

    .main-text .p2{
        width: 300px;
        font-size: 14px;

    }

    .main-text .p3{
        margin-bottom: 10px;
    }

    .main-logo{
        margin: 0;
        margin-bottom: 30px;
    }

    .main-logo img{
        width: 300px;
        margin-left: 70px;
        
    }

    .main h2{
        font-size: 30px;
    }

    .main-pic{
        width: 350px;
        height: 250px;
    }
    /* ----------熱門探險旅拍----------- */
    .vk{
        width: 414px;
        margin-top: 50px;
    }

    .vk h1{
        font-size: 30px;
        margin-bottom: 80px;
    }

    .vk img{
        width: 300px;
        height: 246px;
        margin: 0;
        
    }

    .vk-top{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 80px;
    }
    
    .vk-top a{
        
        margin: 20px 0px 0px 200px;
    }


    .vk-top_text{
        width: 300px;
        padding-top: 30px;
    }

    .vk-top_text p{
        display: block;
        height: 195px;
        overflow: hidden;
    }

    
    .vk-mid{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    .vk-mid a{
        margin: 20px 0px 0px 200px;
    }

    .vk-mid_text{
        width: 300px;
        margin: 0;
        padding-top: 30px;
    }

    .vk-mid_text p{
        display: block;
        height: 195px;
        overflow: hidden;
    }

    .vk-down{
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        margin-bottom: 50px;
    }
    
    .vk-down a{
        
        margin: 20px 0px 0px 200px;
    }


    .vk-down_text{
        width: 300px;
        
    }

    .vk-down_text p{
        display: block;
        height: 195px;
        overflow: hidden;
    }



    /* ---------- 熱門討論與熱門旅團 ------------ */
    .supple{
        width: 414px;
    }

    .supple-top{
        width: 414px;
    }

    .supple-top h1{
        font-size: 30px;
        margin-top: 50px;
    
    }


    .supple-top h3{
        font-size: 20px;
        padding-top: 10px;
        margin: 0 auto;
        width: 300px;
    }

    .supple-top img{
        width: 300px;
        margin-bottom: 0;
    }

    .supple-top_btn{
        width: 300px;
        padding-bottom: 10px;
    }

    .supple-top_btn img{
        width: 30px;
    }  
    
    .supple-top_btn p{
        left: 40px;
        top: 3px;
    }

    .supple-top a{
        margin: 10px 0px 20px 260px;
    }

  

    .supple-top_socialmedia{
    }

    .supple-top .supple-top_socialmedia a{
        margin: 0;
        margin-right: 15px;
        font-size: 20px;
    }


    .supple-down{
        width: 414px;
    }

    .supple-down h1{
        font-size: 30px;
        margin: 0;
        margin-top: 100px;
    }

    .supple-down_list{
        width: 414px;
    }

    .supple-down_content{
        width: 200px;
        height: auto;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 80px;
        margin-top: 30px;
    }

    .supple-down_content img{
        width: 100px;
        height: auto;
        margin: 0;
        margin: 0 auto;
    }

    .supple-down_text{
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        border-bottom: none;

    }

    .supple-down_text p{
    }


    .supple-down_text .p2-ko{
            margin: 0;
        }

    .supple-down_text .p2-jp{
            margin: 0;
        }


    .supple-down_text .p2-tw{
            margin: 0;
        }

    .supple-down_text .p2-us{
            margin: 0;
        }

    .supple-down_text .p2-hk{
            margin: 0;
        }

    .supple-down_text a{
        margin: 0;
        margin: 0 auto;
        margin-top: 20px;
    }









    /* ------------- ad --------------- */
    

    .ad{
        background-position-x: left -200px;
        background-repeat: no-repeat;
        width: 414px;
    }

    .ad .p1{
        display: block;
        width: 350px;
        margin: 0 auto;
        margin-top: 200px;
        
    }

    .ad .p2{
        margin-right: 80px;
    }
    /* --------contact information---------- */
    /* .contact{
        width: 414px;
         height: auto;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        text-align: center; 
        
    }

    .contact h1{
        font-size: 20px;
        margin-bottom: 0;
    }

    .contact ul{
        display: flex;
        width: 120px;
        margin: 0 auto;
        padding-left: 20px;


        
    }

    .contact li{
        flex-grow: 1;
        
    }

    .contact .p1 {
        font-size: 14px;
        margin: 0;
        -webkit-text-fill-color:black;
    }

    
    .contact .p2{
        font-size: 14px;
    } */ 

    .contact{
        width: 414px;
        height: 80px;
        padding: 10px 30px 0px 30px;
        /* outline: 2px solid chocolate; */
        
    }
    .contact h1{
        width: 100px;
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 5px;
        /* outline: 2px solid chocolate; */
        
    }
    .contact ul{
        margin: 0;
        width: 150px;
        /* outline: 2px solid chocolate; */

    }
    .contact li a{
        font-size: 14px;
        margin-right: 15px;
    }
    .contact .p1{
        width: 110px;
        font-size: 12px;
        margin: 10px 10px 5px 0px;
        -webkit-text-fill-color:black;
        /* outline: 2px solid chocolate; */
    }
    .contact .p2{
        width: 200px;
        font-size: 12px;
        margin-left: 0;
        /* outline: 2px solid chocolate; */
    }


    /* ---------- footer ----------- */
    footer{
        display: flex;
        width: 414px;
        height: 30px;
        margin: 0;
        padding: 0;
    }

    footer .p1{
        display: block;
        overflow: hidden;
        width: 880px;
        height: 20px;
        font-size: 12px;
        -webkit-transform : scale(0.5,0.5);
        margin: 0;
        
        
       
    }

    footer .p2{
        display: block;
        width: 450px;
        font-size: 12px;
        -webkit-transform : scale(0.5,0.5);
        margin: 0;
        
    }

    footer .p3{
        display: block;
        width: 450px;
        font-size: 12px;
        -webkit-transform : scale(0.5,0.5);
        
    }
}